*{
  box-sizing:border-box;
}

body {
  margin:auto;
  width:1170px;  
  background-image:url("http://prcouncil.net/wp-content/uploads/2017/02/Grey-Gradient-Background.png");
}

.top{
  border:2px solid white;
}

h1{
  font-size:70px;
  padding:;
  font-family:"brush script MT" ;
  text-align:center;
  color:#2528ac;
  text-shadow:1px 1px white;
}


header nav{
  border:2px groove white;
  background-color:black;
  padding-right:50px;
}

header ul{
  font-size:20px;
  color:white;
  display:flex;
  justify-content:space-between;
}

a:link {
  text-decoration:none;
  color:white;
}

a:visited{
  color:white;
}

a:hover{
  color:#2528ac;
}

a:active{
  color:#00c997;
}

h2, h3{
  color:#00c997;  
}


.about{
  background:black; 
  margin:auto;
  margin-top:80px;
  border:3px solid #00c997;
  width:700px;
}

.text{
  padding:23px;
  margin:2px 20px;
  display:flex;
  color:white;
}

.text p{
  
  padding:20px;
  font-size:18px;
}

.websites{
  background:black;
  color:#00c997;
  margin:auto;
  margin-top:60px;
  text-align:center;
  border:3px solid white;
  padding:10px;
  border-radius:50%;
  width:200px;
}


.twin{
  display:flex;
  justify-content:space-between;
  margin-top:20px;
  margin-bottom:20px;
}

.mediashell{
  text-align:center;
  
}

.media{
  background:black;  
  display:flex;
  font-size:20px;
  text-align:left;  
  padding:20px;
  border: 3px solid #00c997;
  width:550px;
  height:230px;  
  color:white;
  margin-left:px;


}


.resumeshell{
  text-align:center;
}

.resume{
  background:black;  
  display:flex;
  justify-content:space-between;
  font-size:20px;
  text-align:left;
  padding:20px;  
  padding-top:10px;
  border:3px solid #00c997;
  width:550px;
  height:230px;
  color:white;


  
}


.page li{
  font-size:20px;
  margin-left:5px;
  margin-right:5px;  
  display:flex;
}

.icon li{
  font-size:35px;
  margin-left:5px;
  margin-right:5px;
  display:flex;
  color:white;
}


.bottom {
  margin:auto;
  display:block;
}


footer nav{
  color:white;
  display:flex;
  justify-content:space-between;
  border:2px groove white;
  background-color:black;
  padding-right:50px;
  
}

footer ul{
  font-size:0px;
  color:white;
  display:flex;

}

button{
  margin-top:10px;
  background:black;
  color:#00c997;
  font-size:18px;
}
